/******* GENERAL *******/
* {
	font-family: 'Arial', Courier, monospace;
}

body {
	background-color: #f4f4fa;
	color: #2a2a2a;
	margin: 0px;
}

footer {
  background-color: #2f2f45;
  padding: 40px;
  text-align: center;
  font-size: 16px;
}

footer a {
	color: #f4f4fa;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.2s;
}

footer a:hover {
  color: #9ecbf8;
}

img {
	pointer-events: none;
}




/******* HEADER *******/
.page-header {
	display: flex;
	width: 97%;
	height: 20%;
	max-height: 400px;
	justify-content: space-between;
	align-items: center;
}

.page-header img {
	width: 50%;
	height: auto;
	max-width: 400px;
	margin-left: 5vh;
}




/******* MAIN *******/
.page-main {
	width: 97%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 100px;
}

.titre-de-page {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.intro-block {
	width: 750px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.intro-block p {
	font-size: 24px;
	width: 750px;
	margin-top: 10px;
	margin-bottom: 50px;
}




/******* BOUTONS *******/
.main-btn {
	display: inline-block;
	background-color: rgba(80, 68, 175, 0.6);
	color: rgba(244, 244, 250, 0.8);
	border: 2px solid rgba(80, 68, 175, 0.3);
	border-radius: 15px;
	font-size: 24px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
	transition: color 0.2s;
	text-decoration: none;
}

.main-btn:hover {
	cursor: pointer;
	background-color: #807eda;
	color: #f4f4fa;
	border: 2px solid #5044af;
}

.main-btn:active {
	background-color: #f4f4fa;
	color: #2a2a2a;
	border: 2px solid #5044af;
}

.page-header .page-btn {
	font-size: 20px;
	padding: 8px;
	text-decoration: none;
	margin: 8px;
	color: rgba(42, 42, 42, 0.5);
	border-top: 2px solid rgba(42, 42, 42, 0.5);
	border-bottom: 2px solid rgba(42, 42, 42, 0.5);
	transition: color 0.2s;
}

.page-header .page-btn:hover {
	color: #2a2a2a;
	border-top: 2px solid #2a2a2a;
	border-bottom: 2px solid #2a2a2a;
}

.page-header .page-btn:active {
	color: #4480bb;
	border-bottom: 2px solid #4480bb;
	border-top: 2px solid #4480bb;
}




/******* LIENS *******/
.p-lien {
	margin-left: 5px;
}

.oublie {
	display: block;
	font-size: 18px;
	margin-left: 5px;
	margin-bottom: 15px;
}




/******* IMAGES *******/
.illustartion {
	width: 50%;
	height: auto;
	max-width: 700px;
	margin-bottom: 100px;
}

.dessin {
	width: 50%;
	height: auto;
	max-width: 630px;
}




/******* PAGE DE COMMENCER *******/
.intro-block h2 {
	font-size: 28px;
	font-weight: 700;
	max-width: 750px;
	margin-bottom: 10px;
	margin-top: 50px;
}

.intro-block a {
	display: inline-block;
	align-self: flex-start;
	width: auto;
	font-size: 28px;
	font-weight: 700;
	text-decoration: none;
	background-color: rgba(80, 68, 175, 0.6);
	color: rgba(244, 244, 250, 0.8);
	border: 2px solid rgba(80, 68, 175, 0.3);
	border-radius: 15px;
	padding: 10px;
	margin-top: 20px;
	box-sizing: border-box;
	transition: color 0.2s;
}

.intro-block a:hover {
	background-color: #807eda;
	color: #f4f4fa;
	border: 2px solid #5044af;
}

.intro-block a:active {
	background-color: #f4f4fa;
	color: #2a2a2a;
	border: 2px solid #5044af;
}

.info-block {
	display: flex;
	width: 100%;
	max-height: 400px;
	font-size: 32px;
	background-color: rgba(158, 203, 248, 0.6);
	justify-content: space-evenly;
	align-items: center;
	margin-top: 40px;
}




/******* PAGE D'INSCRIPTION' *******/
.inscription-main {
	width: 100%;
	height: 60%;
	display: flex;
	background-color: #efe5fb;
}

.inscription-cont {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inscription-cont h1 {
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
}

.inscription-cont p {
	font-size: 20px;
	margin-bottom: 0px;
	margin-left: 2px;
}

.inscription-cont input {
	font-size: 20px;
	margin: 5px;
	border: solid 2px #2a2a2a;
	background-color: #f4f4fa;
	border-radius: 5px;
}

.cvg-check {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 520px;
	justify-content: space-between;
}

.cvg-check label {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	width: 250px;
	font-size: 14px;
	margin-top: 10px;
}




/******* TESTS *******/
.instructions {
	display: flex;
	width: 97.5%;
	background-color: #c7d8fa;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 5vh;
}

.instructions h3 {
	width: 70%;
	font-size: 25px;
	margin-bottom: 5px;
}

.instructions p {
	width: 70%;
	font-size: 20px;
	margin-top: 5px;
}

.test-form {
  width: 50%;
	min-width: 920px;
	max-width: 920px;
	min-height: 300px;
	max-height: 370px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
  background-color: #d7d7f2;
	border-radius: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
	padding: 5vh;
	margin-left: 25%;
	margin-top: 5vh;
	margin-bottom: 10vh;
}

.question-block {
	width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.question-block p {
  font-size: 22px;
	margin-top: 5px;
  margin-bottom: 10px;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.options label {
  display: block;
  margin: 3px 12px;
  font-size: 19px;
}

.commentaire {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	border-top: 2px solid #5f5c7e80;
}

.commentaire textarea {
  width: 70%;
  height: 80px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  border: solid 1px #2a2a2a;
  background-color: #f4f4fa;
  border-radius: 5px;
}

.boutons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.progress-container {
	width: 100%;
	height: 10px;
	background-color: #8887d9;
	border-radius: 10px;
}

.progress-bar {
	width: 0%;
	height: 100%;
	background-color: #5044af;
	border-radius: 10px;
	transition: width 0.5s ease-in-out;
}




/******* RESULTATS *******/
.resultat {
	width: 96%;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: rgba(158, 203, 248, 0.6);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 5px 10px;
}

.resultat p {
	width: 100%;
	display: flex;
	font-size: 20px;
	margin: 5px;
}

.resultat span {
	font-weight: 700;
}

.test-details {
	width: 100%;
}

.test-liste {
	width: 96%;
	margin: 30px;
	padding: 10px;
	background-color: #c7c7eb;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.test-details h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.test-details ul {
	list-style: none;
}

.question-resultat {
	font-size: 20px;
}

.reponse-resultat {
	font-size: 18px;
	font-weight: 700;
}

.commentaire-resultat {
	width: 97.5%;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #5f5c7e80;
	margin-bottom: 20px;
}

.retour-accueil {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
}

.retour-accueil a {
	margin-left: 80px;
}

.corriger-btn {
	display: inline-block;
	background-color: rgba(244, 244, 250, 0.5);
	color: rgba(80, 68, 175, 0.5);
	border: 2px solid rgba(80, 68, 175, 0.5);
	border-radius: 15px;
	font-size: 24px;
	font-weight: 700;
	margin: 10px 35px;
  padding: 10px;
  box-sizing: border-box;
	transition: color 0.2s;
	text-decoration: none;
}

.corriger-btn:hover {
	cursor: pointer;
	background-color: rgb(244, 244, 250);
	color: #5044af;
	border: 2px solid #5044af;
}

.corriger-btn:active {
	background-color: #5044af;
	color: #f4f4fa;
	border: 2px solid #2a2a2a;
}