<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Échelle d'Impulsivité (UPPS-20)</title>
  <link rel="stylesheet" href="/ctsa-tdah-questionnaire/assets/style.css">
</head>
<body>
  <div id="app">
    <header class="page-header">
      <img src="/ctsa-tdah-questionnaire/assets/images/logo.png" alt="logo">
      <nav>
        <a href="/ctsa-tdah-questionnaire/pages/page-ASRS.html" class="page-btn">Échelle ASRS</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-Wender.html" class="page-btn">Test Wender</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-RCTQ.html" class="page-btn">RCTQ-13</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-UPPS.html" class="page-btn">UPPS-20</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-CTQ.html" class="page-btn">CTQ</a>
        <a href="/ctsa-tdah-questionnaire/pages/accueil.html" class="page-btn">Accueil</a>
        <a href="" class="page-btn">Contact</a>
      </nav>
    </header>
    <main class="test-main">
      <div class="titre-de-page">
        <h1>Échelle d'Impulsivité (UPPS-20)</h1>
      </div>
      <div class="instructions">
        <h3>Instructions</h3>
        <p>Lisez chaque affirmation et indiquez dans quelle mesure vous êtes d'accord ou non. Choisissez une réponse entre <span>1</span> et <span>4</span> en fonction de votre comportement habituel.</p>
        <p><span>1 − Tout à fait d’accord</span> | <span>2 − Plutôt
          d'accord</span> | <span>3 − Plutôt en désaccord</span> | <span>4 − Tout à fait en désaccord</span></p>
      </div>
      <div class="test-form">
        <div class="question-block">
          <p>{{ questionsUPPS[questionActuelleIndex].text }}</p>
          <div class="options">
            <label v-for="(option, idx) in options" :key="idx">
              <input type="radio" :name="'q' + questionActuelleIndex" :value="option" v-model="réponses[questionActuelleIndex]"> {{ option }}
            </label>
          </div>
        </div>
        <div class="boutons">
          <button class="main-btn" v-if="questionActuelleIndex > 0" @click="retour">Retour</button>
          <button class="main-btn" v-if="questionActuelleIndex === questions.length - 1" @click="terminer" :disabled="!toutEstFini">Terminer le test</button>
          <button class="main-btn" v-if="questionActuelleIndex < questions.length - 1" @click="suivent">Suivent</button>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
