<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Questionnaire sur les Symptômes Actuels (ASRS)</title>
  <link rel="stylesheet" href="../../assets/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../../assets/vue.js" defer></script>
  <script src="../../assets/resultats.js" defer></script>
</head>
<body>
  <div id="app">
    <header class="page-header">
      <img src="../../assets/images/logo.png" alt="logo">
      <nav>
        <a href="../page-ASRS.html" class="page-btn">Échelle ASRS</a>
        <a href="../page-Wender.html" class="page-btn">Test Wender</a>
        <a href="../page-RCTQ.html" class="page-btn">RCTQ-13</a>
        <a href="../page-UPPS.html" class="page-btn">UPPS-20</a>
        <a href="../page-CTQ.html" class="page-btn">CTQ</a>
        <a href="../accueil.html" class="page-btn">Accueil</a>
        <a href="" class="page-btn">Contact</a>
      </nav>
    </header>
    <main>
      <div class="titre-de-page">
        <h1>Questionnaire sur les Symptômes Actuels (ASRS)</h1>
      </div>
      <div class="instructions">
        <h3>Instructions</h3>
        <p>Répondez aux questions en vous auto-évaluant sur les 6 derniers mois.
          Pour chaque question, sélectionnez l’option qui correspond le mieux à votre ressenti ou votre comportement.</p>
      </div>
      <div class="test-form">
        <div class="question-block">
          <p>{{ questions[questionActuelleIndex].text }}</p>
          <div class="options">
            <label v-for="(option, idx) in options" :key="idx">
              <input type="radio" :name="'q' + questionActuelleIndex" :value="option" v-model="réponses[questionActuelleIndex]"> {{ option }}
            </label>
          </div>
        </div>
        <div class="progress-container">
          <div class="progress-bar" :style="{ width: progress + '%' }"></div>
        </div>
        <div class="boutons">
          <button class="main-btn" v-if="questionActuelleIndex > 0" @click="retour">Retour</button>
          <button class="main-btn" v-if="questionActuelleIndex === questions.length - 1" @click="terminer" :disabled="!toutEstFini">Terminer le test</button>
          <button class="main-btn" v-if="questionActuelleIndex < questions.length - 1" @click="suivent">Suivent</button>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
