<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Questionnaire de Tachypsychie (RCTQ-13)</title>
  <link rel="stylesheet" href="/ctsa-tdah-questionnaire/assets/style.css">
</head>
<body>
  <div id="app">
    <header class="page-header">
      <img src="/ctsa-tdah-questionnaire/assets/images/logo.png" alt="logo">
      <nav>
        <a href="/ctsa-tdah-questionnaire/pages/page-ASRS.html" class="page-btn">Échelle ASRS</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-Wender.html" class="page-btn">Test Wender</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-RCTQ.html" class="page-btn">RCTQ-13</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-UPPS.html" class="page-btn">UPPS-20</a>
        <a href="/ctsa-tdah-questionnaire/pages/page-CTQ.html" class="page-btn">CTQ</a>
        <a href="/ctsa-tdah-questionnaire/pages/accueil.html" class="page-btn">Accueil</a>
        <a href="" class="page-btn">Contact</a>
      </nav>
    </header>
    <main class="test-main">
      <div class="titre-de-page">
        <h1>Questionnaire de Tachypsychie (RCTQ-13)</h1>
      </div>
      <div class="instructions">
        <h3>Instructions</h3>
        <p>Ce test évalue la vitesse et la quantité de vos pensées au cours des dernières 24 heures. Répondez à chaque question en choisissant une note de 0 à 4 selon ce que vous avez ressenti: <span>0 = pas du tout</span> <span>2 = un peu</span> <span>4 = tout à fait</span>.</p>
        <p>Ensuite, indiquez à quel moment de la journée (matin, après-midi, soir, coucher) vous avez ressenti ce type de pensées, et à quel point (de <span>pas du tout</span> à <span>extrêmement</span>).</p>
        <p><span>Essayez d’être honnête:</span> il n’y a pas de bonne ou de mauvaise réponse.</p>
      </div>
      <div class="test-form">
        <div class="question-block">
          <p>{{ questionsRCTQ[questionActuelleIndex].text }}</p>
          <div class="options">
            <label v-for="(option, idx) in options" :key="idx">
              <input type="radio" :name="'q' + questionActuelleIndex" :value="option" v-model="réponses[questionActuelleIndex]"> {{ option }}
            </label>
          </div>
          <div class="question-tableau">
            <p>Merci de mettre une croix, dans le tableau suivant, pour préciser la fréquence à laquelle vous aviez ce type de pensées (en trop grand nombre et/ou à trop grande vitesse) en fonction des moments de la journée:</p>
            <div class="question-block">
              <p>Martin</p>
              <div class="options">
              <label><input type="radio" name="q14-1" value="pas-du-tout"> Pas du tout</label>
              <label><input type="radio" name="q14-1" value="très-peu"> Très peu</label>
              <label><input type="radio" name="q14-1" value="un-peu"> Un peu</label>
              <label><input type="radio" name="q14-1" value="beaucoup"> Beaucoup</label>
              <label><input type="radio" name="q14-1" value="extrêmement"> Extrêmement</label>
              </div>
            </div>
            <div class="question-block">
              <p>Après-midi</p>
              <div class="options">
              <label><input type="radio" name="q14-2" value="pas-du-tout"> Pas du tout</label>
              <label><input type="radio" name="q14-2" value="très-peu"> Très peu</label>
              <label><input type="radio" name="q14-2" value="un-peu"> Un peu</label>
              <label><input type="radio" name="q14-2" value="beaucoup"> Beaucoup</label>
              <label><input type="radio" name="q14-2" value="extrêmement"> Extrêmement</label>
              </div>
            </div>
            <div class="question-block">
              <p>Soir</p>
              <div class="options">
              <label><input type="radio" name="q14-3" value="pas-du-tout"> Pas du tout</label>
              <label><input type="radio" name="q14-3" value="très-peu"> Très peu</label>
              <label><input type="radio" name="q14-3" value="un-peu"> Un peu</label>
              <label><input type="radio" name="q14-3" value="beaucoup"> Beaucoup</label>
              <label><input type="radio" name="q14-3" value="extrêmement"> Extrêmement</label>
              </div>
            </div>
            <div class="question-block">
              <p>Coucher</p>
              <div class="options">
              <label><input type="radio" name="q14-4" value="pas-du-tout"> Pas du tout</label>
              <label><input type="radio" name="q14-4" value="très-peu"> Très peu</label>
              <label><input type="radio" name="q14-4" value="un-peu"> Un peu</label>
              <label><input type="radio" name="q14-4" value="beaucoup"> Beaucoup</label>
              <label><input type="radio" name="q14-4" value="extrêmement"> Extrêmement</label>
              </div>
            </div>
          </div>
        </div>
        <div class="boutons">
          <button class="main-btn" v-if="questionActuelleIndex > 0" @click="retour">Retour</button>
          <button class="main-btn" v-if="questionActuelleIndex === questions.length - 1" @click="terminer" :disabled="!toutEstFini">Terminer le test</button>
          <button class="main-btn" v-if="questionActuelleIndex < questions.length - 1" @click="suivent">Suivent</button>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
